.dateInputs {
  text-align: center;
  margin-bottom: 20px;
  /*margin-bottom: 2vh;*/
}
.category {
  /*border: 1px solid black;*/
  margin-top: 50px;
}
.user {
  margin-top: 30px;
}
.categoryHeader, .userHeader {
  text-align: center;
}
